HELP.md
target/
.gradle/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar

### IDEs (IntelliJ, VS Code, STS, NetBeans) ###
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Archivos de Configuración y Secretos ###
**/application-test.properties
**/application-dev.properties
**/application.properties
**/application-prod.properties
.env
.env.*
*.env
*.env.*
*.secret
*.secrets
*.key
*.pem
*.p12
*.keystore

### Logs, Dumps y Sistema Operativo ###
logs/
*.log
*.sql
.DS_Store
Thumbs.db